@use "../abstracts" as *

//----------------------------------
//           TEXT STYING           -
//----------------------------------

.uppercase
	text-transform: uppercase

.color
	&--dark
		color: $textDark
	&--light
		color: $textLight
	&--primary
		color: $primary
	&--secondary
		color: $secondary
	&--accent
		color: $accent
	&--success
		color: forestgreen

.border-color
	&--dark
		border-color: $textDark
	&--light
		border-color: $textLight
	&--primary
		border-color: $primary
	&--secondary
		border-color: $secondary
	&--accent
		border-color: $accent
	&--success
		border-color: forestgreen

.text--center, .align--center
	text-align: center

.text--left, .align--left
	text-align: left

.text--right, .align--right
	text-align: right

.strong, .bold, strong
	font-weight: 700

.capital
	text-transform: capitalize
.uppercase
	text-transform: uppercase
.lowercase
	text-transform: lowercase

.fs
	&--sm, &--small
		font-size: .8rem




/**** FONT ****/
h1
	color: $primary
	font-family: "Plus Jakarta Sans", sans-serif
	font-size: 3.2rem
	font-weight: 300

	@include media-below(phone)
		font-size: 2.3rem

	&.bold
		font-weight: 700
	&.light
		font-weight: 300


h2
	color: $textDark
	font-family: "Plus Jakarta Sans", sans-serif
	font-size: 2rem
	font-weight: 400

	@include media-below(phone)
		font-size: 1.8rem


	&.center
		text-align: center
	&.small
		font-size: 2.2rem

	&.white
		color: white

h3
	&.center
		text-align: center
	&.white
		color: white




h1, h2, h3, h4, h5
	&.padding--block
		padding-block: 1rem

	&.padding--block--small
		padding-block: .5rem

	&.center
		text-align: center

	&.margin--none
		margin: 0 !important

p
	padding: 0
	//font-weight: 200
	font-family: "Plus Jakarta Sans", sans-serif
	font-weight: 400
	font-size: 1rem
	color: $textDark

	position: relative
	z-index: 0

	&.paddingVertical, &.is-style-padding-vertical
		padding: 1rem 0

	&.center, &.is-style-center
		text-align: center

	&.white, &.is-style-white
		color: white

	&.light, &.is-style-light
		font-weight: 200

	&.color--lighter
		color: $lightgrey

	&.center
		text-align: center

a
	text-decoration: none
	outline: none
	font-family: "Plus Jakarta Sans", sans-serif
	cursor: pointer
	border-bottom: 1px solid transparent
	transition: $transition-default

p > a, .document a, footer .content > a
	color: $primary
	//border-bottom: 1px solid transparent
	transition: $transition-default
	overflow: hidden
	font-weight: 700
	z-index: 0
	display: flex
	width: fit-content

	&:hover, &:focus
		&::before
			transform: translate(1rem, 1rem)
			animation: link-anim-in .3s ease

strong
	font-weight: 700
