@use "../abstracts" as *
@use "../layouts" as *

//----------------------------------
//              FOOTER             -
//----------------------------------

#footer, .footer__main
	background: $secondaryLighter
	z-index: 1
	position: relative

	@include media-below(phone)
		padding-bottom: 2rem

	.navLink
		position: absolute
		right: 1rem
		transform: translateY(-2rem)
		text-decoration: none

		.goToTopButton
			color: $accent
			width: 50px
			height: 50px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50px
			transition: $transition-default
			transform: rotate(-90deg)
			border: none
			-webkit-appearance: none
			outline: none
			background: none
			cursor: pointer

			svg
				transform: translate(0, 2px)

			&:hover, &:focus-visible, &.active
				font-weight: 600
				text-decoration: none
				background: $accent
				svg, svg path
					color: $white
					fill: $white


